# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = warframe_statistics.settings

[scrapyd]
application = herokuify_scrapyd.app.application

[deploy:local]
url = https://warm-hollows-94110.herokuapp.com/
project = warframe_statistics
